- project = data.projects.select { |project| project[:id] == 2 }.first
%a.getback{:href => 'index.html'}> << Take me back home
.container-fluid.bg-dark
  .row
    .col-md-6.height-full.left-col{style: "background-image: url(images/#{project[:coverimage]}-dark.png);"}
      .cols.otherProjects
        %h1= project[:name]
        %h5= project[:short_description]
    .col-md-6.height-full.right
      .cols.otherProjects
        = partial 'partials/_come-at-me'

.container-fluid
  .row
    .col.description{style: "background-color: #a29bfe;"}
      .cols
        %h1= project[:name]
        %br
        %p= project[:description]
